
@font-face {
  font-family: "Agrandir Grand Heavy";
  src: url(../src/font/AgrandirGrandHeavy800.otf) format('opentype')
}
@font-face {
  font-family: "Agrandir Regular";
  src: url(../src/font/AgrandirRegular400.otf) format('opentype');
}
#video {
  z-index: -1;
  position: fixed;
  float: left;
  width: 100%;
  left: 0;
  top: 0;
}

#photo {
  z-index: -1;
  display: none;
  position: fixed;
  float: left;
  width: 100%;
  left: 0;
  top: 0;
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 150px;
  margin-right: 150px;
}

.logo {
  text-align: center;
  margin-top: 36px;
  color: white;
  font-size: larger;
  width: 100%;
  border-bottom: solid 1px white;
}

.title {
  color: white;
  background-color: black;
  height: fit-content;
  display: grid;
  justify-items: center;
  flex-direction: column;
  font-family: "Agrandir Grand Heavy";
  font-size: 35px;
}
.title > h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: -10px;
}
.logotext {
  font-family: "Agrandir Grand Heavy";
}
.text {
  color: white;
  font-family: "Agrandir Regular";
  font-size: 24px;
}
.dataset {
  margin: 5px;
  display: grid;
  height: 100%;
  grid-template-columns: 13rem 10rem 15rem 18rem;
  grid-auto-columns: minmax(4, 25vh);
  grid-template-rows: 12.5rem 15.5rem 14rem 13.5rem 15rem 15rem;
  grid-auto-rows: minmax(15vh, auto);
  grid-gap: 5px;
  justify-content: center;
  align-content: center;
}
.box {
  background-color: #282c34;
  color: white;
  min-width: fit-content;
  margin: 10px;
  font-size: 50px;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
}
.goodday{
  color: black;
}
.goodday:nth-child(1){
  grid-column: 1/3;
}
.goodday:nth-child(17){
  grid-column: 2/5;

}
.nottheday{
  background-color: #000000;
  border-style: solid;
  border-color: white;
  border-width: "thin";
  pointer-events: none;
}
.box:nth-child(24){
  grid-column: 1/3;
}
.box:nth-child(25){
  grid-column: 3/5;
}


//Card.js styling


@media only screen and (max-width: 1350px) {
  #video {
    display: none;
  }
  #photo {
    display: inline;
    height: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .app {
    margin-left: 5px;
    margin-right: 5px;
  }
  .title {
    display: flex;
    flex-wrap: wrap;
    font-size: smaller;
  }
  .dataset{
    grid-template-columns: 150px 100px;
    row-gap: 2px;
    column-gap: 5px;
    grid-auto-columns: minmax(fit-content, auto);
    grid-auto-rows: minmax(fit-content, auto);
  }
  .box:nth-child(25){
    grid-column: 1/3;
  }
}
